html,
body {
    margin: 0;
    padding: 0;
}

.Center_AreaHeight {
    display: flex;
    justify-content: center;

    border-bottom: 0.5px solid #cdced1;
    width: 100%;

}



.HRDK {


    width: 110px;



}

.Mline {

    border-right: 0.5px solid #cdced1;
    position: relative;

}

.Q_Net {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;

}

.Customer_Engagement {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;



}

.Fraud_reporting_center {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;




}



.technical_qualification {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;

    background-color: yellow;
    color: red;
    font-weight: bold;


}

.remote_support {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;

    color: blue;


    font-weight: 700;

}

.assistant {
    margin-left: 1vw;
}

.mobile_app {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;

}

.line {
    border-right: 2px solid #cdced1;
    height: 1.3vh;
    margin-top: 6px;


}

.LINEC {
    display: flex
}

.Login {

    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;

}

.Join {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;
}

.English {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;
}

.Information_Use {
    display: inline-block;
    padding: 0 10px;
    height: 20px;
    color: black;
    font-size: 11px;
    line-height: 24px;

    font-weight: bold;




}

.Screen_Size {
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    color: #707b80;
    font-size: 11px;
    line-height: 24px;
}

.buttons {
    padding: 0 10px;
    display: flex;
    align-items: center;


}

.PLUS,
.Subtract {
    font-size: 15px;
    border: 0.5px solid white;
    color: #406bb6;
    font-weight: bold;
    height: 16px;

    background-color: white;
    border: 0.5px solid #dddddd;
}

.Subtract {
    margin-left: 2px;
}

.Substract_- {
    position: relative;
    bottom: 4px;
    right: 1px;

}

.Substract_p {
    position: relative;
    bottom: 2px;
}

.QNET {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;



}

.dSelect {
    display: flex;
    align-items: center;
}

.SE {
    padding: 0 15px 2px 0;
    min-width: 80px;
    background: none;
    border: 0;
    font-size: 12px;
    color: #555;
    font-weight: bold;
    border: 0.5px solid #cdced1;
    border-right: 0;
    height: 3.4vh;

}

.Search_Word {
    height: 3vh;
    text-indent: 5px;
    border: 0.5px solid #cdced1;
    border-left: 0;

}

.Search_Word::placeholder {
    color: #406bb6;
    font-weight: bolder;
    font-size: 15px;

}

.Look {
    padding: 0;
    width: 59px;
    height: 33px;
    background: #2f5586 ;
    border: 1px solid #00477c;
    overflow: hidden;
    vertical-align: top;
    border-radius: 3px;
}

.Glass {
    position: relative;
    color: white;
    right: 2vw;
    top: 0.3vh;

}

.Look {
    height: 3vh;

}

.Magnifying_Glass_DIV {
    margin-left: 0.6vh;
}

.Three {
    margin-left: 27vw;
    margin-top: 1vh;
    position: relative;
    left: 10px;
    top: 2px;
}

.full_menu {
    margin-top: 2.8vh;
    display: flex;
    align-items: center;
    padding-left: 1px;
    height: 3vh;
}

.BLINE {

    width: 24vw;
    height: 3.5vh;
    background-color: #2d2e33;
}


.national_examination,
.professional_exam,
.check,
.my_page,
.customer_support {

    display: block;
    height: 34px;
    line-height: 30px;
    background-color: #52535d;
    color: #ccc;
    font-weight: bold;

    padding-left: 2.65vw;
    padding-right: 2.45vw;
    cursor: pointer;


}

.Back:hover {
    background: #1d7abd;


}



.BLINE,
.national_examination,
.professional_exam,
.check,
.my_page,
.customer_support {
    border-right: 0.5px solid #898b94
}

.Arrow_picture {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 26px;
}

.arrowDIV {

    display: block;
    height: 34px;
    line-height: 30px;
    background-color: #52535d;
    color: #ccc;
    font-weight: bold;
    background-color: #1c3458;

    cursor: pointer;

}

.Every_menu {
    display: inline-block;
    padding-bottom: 10px;
    width: 58px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    color: #97b8d2;
    overflow: hidden;
    border-right: 0.5px solid #ccc;



}

.arrow {
    display: flex;
    justify-content: center;
}

.BLINE2 {
    width: 24vw;
    height: 3.5vh;
    background-color: #2d2e33;
}


.imageFour {
    display: flex;
    justify-content: center;
    margin-top: 4.5vh;
    align-items: flex-start;
   
}



.IM1:hover {
    font-size: 30px;
}

.SEMI {
    display: flex;
    justify-content: center;
    position: relative;
    left: 2.4vw;
    bottom: 0.7vh;
}

.Receipt,
.Pass,
.Application,
.Calendar {


    position: relative;
    z-index: 10;
    display: block;
    height: 30px;
    font-size: 20px;
    color: #1d7abd;
    letter-spacing: -1px;

  


}



.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-left:0;
   width: 250px;
   position: relative;
   right:30px;

   cursor: pointer;
}

.M1{
    color: #000;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    
    letter-spacing: -1px;
}

.M2{
    font-size: 13px;
    line-height: 20px;
    color: #666;
    letter-spacing: -1px;
}

.MM{
    position: relative;
    bottom:0.6vh;
}


.image_Line{
    border-bottom: 0.7px solid #d3d3d3;
   margin-top:4vh;
}

.Qualification_Information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_8{
    display: flex;
    width: 100%;
    
}

.BACK_BLUE{
    display: flex;
    justify-content: center;
    color: rgb(195, 220, 244);
    background-color: rgb(0, 85, 126);
    
    padding-top: 8px;
    height: 27px;

    font-size: 0.8rem;
    padding-left:13px;
    padding-right:15px;

    
    
}


.three{
    width:79%;
}




.a{
    display: flex;
    justify-content: center;
    /* width: 5.5vw; */
}

.LOOOK{
    margin-top:0.5vh;
    padding: 0 36px;
}

.IM_3{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width:130px;
    margin-left:0.1px;
}

.IM_1,
.IM_2,
.IM_3,
.IM_4,
.IM_5,
.IM_6,
.IM_7,
.IM_8{
    border-left: 0.5px solid rgb(226 226 226);
}

.IM_8{
    border-right: 0.5px solid rgb(226 226 226);
}



.IM_0{
    width: 24.1vw;
    border-bottom: 3.7vh solid rgb(0, 85, 126);

}